body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/74a123e8-378f-4e35-a994-e6bfd8b05992/dc95rkv-30e2484a-ba33-42eb-b905-1993b9cda1b5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc0YTEyM2U4LTM3OGYtNGUzNS1hOTk0LWU2YmZkOGIwNTk5MlwvZGM5NXJrdi0zMGUyNDg0YS1iYTMzLTQyZWItYjkwNS0xOTkzYjljZGExYjUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ijSK5tsC4zC_eaHeVnZwDGJ9xfFu17A5H8igpEN-ieI);
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: large;
}
h1{
    text-decoration: underline;
    background-color: rgb(79, 41, 248);
    border-style: solid;
    border-width: medium;
    border-color: white;
}
p1{
   font-size: large;
}
.fas{
    color: rgb(255, 255, 255);
}
#b1{
    background-color: rgb(79, 41, 248);
    color: rgb(255, 255, 255);
}
#b2{
    background-color: rgb(79, 41, 248);
    color: rgb(255, 255, 255);
}

#b3{
    background-color: rgb(79, 41, 248);
    color: rgb(255, 255, 255);
}

#b4{
    background-color: rgb(79, 41, 248);
    color: rgb(255, 255, 255);
}

#b5{
    background-color: rgb(79, 41, 248);
    color: rgb(255, 255, 255);
}
